.button {
    align-items: center;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    justify-content: center;
    padding: 5px;
    outline: none;
    transition: all ease-in-out .3s;
}

.primary {
    background-color: #FE8700;
    color: #F4F4F4;
}

.primary-dark {
    background-color: #FFB561;
    color: #F4F4F4;
}

.primary:hover {
    background-color: #EA8C21;
}

.primary-dark:hover {
    background-color: #EA8C21;
}

.secondary {
    background-color: #AAAAAA;
    color: #333333;
}

.secondary-dark {
    background-color: #EEEEEE;
    color: #333333;
}

.secondary:hover {
    background-color: #999999;
}