.table, .table-dark {
    border-radius: 1rem;
    margin: 2rem auto;
    min-height: 300px;
    min-width: fit-content;
    padding: 1rem;
    transition: all ease-in-out .3s;
}

.table {
    background-color: #AAAAAA;
}

.table-dark {
    background-color: #222222;
}

.table-area {
    flex: 1;
    min-width: fit-content;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
}

.table-header, .table-header-dark {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;
}

.table-header th, .table-header-dark th {
    margin: 0rem 1rem;
}

.table-header {
    background-color: #DDDDDD;
    color: #333333;
}

.table-header-dark {
    background-color: #111111;
    color: #AAAAAA;
}

.table-row, .table-row-dark {
    cursor: pointer;
    font-size: 1.1rem;
    overflow: hidden;
    padding: 0.7rem 0.2rem;
}

.table-row {
    color: #333333;
}

.table-row:hover {
    background-color: #DDDDDD;
}

.table-row-dark {
    color: #AAAAAA;
}

.table-row-dark:hover {
    background-color: #000000;
}

.table-cell {
    min-width: 250px;
    text-align: left;
    white-space: nowrap;
}