@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
  transition: all ease-in-out .3s;
}

.App, .App-dark {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}

.App {
  background-color: #F5F5F5;
}

.App-dark {
  background-color: #333333;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1px auto;
  margin-bottom: 2rem;
  width: 900px;
}

.inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  padding: 15px 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.divider {
  background-color: #444444;
  margin: 0px auto;
  min-height: 1px;
  min-width: 50rem;
}

.no-results, .no-results-dark {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 5rem;
}

.no-results {
  color: #111111;
}

.no-results-dark {
  color: #DDDDDD;
}

.cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}